.main-page {
	width: 80%;
	min-width: 400px;
	margin: auto;
}

/*header {
	background-image: url(../img/index.jpg);
	
}*/
/*.page-banner {
	
	margin-top: 0;
	padding: 20px 20px 20px 40px;
	color: blue;
	text-align: center;
	font-family: sans-serif;
	/*width: 100%;*/
	/*background-image: url(../img/glow.jpg);*/


.nav {
	/*background-color: #FFF8DC;*/
	/*background-color: yellow;*/
	align-items: right;
	width: 100%;
	float: left;
}
.nav  li {
	display: inline;
	padding-right: 20px;
	
}

.nav li a {
	
	color: white;
	text-decoration: none;
}


.nav li a:hover {
	text-decoration: underline;
	color: red;
}

/*body {
	background-image: url(../img/glow.jpg);
	
}*/

.b1 {
	width: 180px;
	height: 200px;
	padding-left: 15px;
	align-content: center;
}
/*.title{
	font-family: 'Lobster', cursive;
	color: blue;
}
*/
.content-container {
padding-left: 15px;
color: black;
/*background-color: blue;
*/width: 70%;
float: left;

}

.content-container h1 {
	color: red;
}

.title: hover{
	text-decoration: none;
	color: black;
}

aside {
	float: left;
	/*background-color: red;*/
	width: 20%;
}

aside h3 {
	color: blue;
}

.page-header {
	/*background-color: blue;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
	color: blue;
	text-align: center;
	font-family: sans-serif;*/
background-color: blue;
color: white;
margin-top: 0;
padding: 20px 20px 20px 40px;
height: 60px;
width: 80%;
margin: auto;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
color: #ffffff;
font-size: 36pt;
text-decoration: none;
}


.content {
margin-left: 40px;
}
h1, h2, h3, h4 {
	font-family: 'Lobster', cursive;
	color: white;
}
.date {
color: #828282;
}
.save {
float: right;
}
.post-form textarea, .post-form input {
width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
color: #ffffff;
float: right;
font-size: 26pt;
margin-right: 20px;
}
.post {
margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
color: blue;
}

.comment {
    margin: 20px 0px 20px 20px;
}
