{% load staticfiles %}
{% load static %}


<html>
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
 -->
<link rel="stylesheet" href="{% static 'css/blogz.css' %}">

</head>
<header>
	<div class="page-banner">
		<h1>SCORPIO LOUNGE</h1>
		<p>So many books...</p>
		<p>... so little time.</p>
		<p> :) </p>

		<div class="nav">
		<ul >
		<li><a href="/">Home</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Gallery</a></li>
	</ul>
	</div>
	</div>
</header>
<body>

<div class="main-page">

	<!-- <div class="nav">
		<ul >
		<li><a href="/">Home</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Gallery</a></li>
	</ul>
	</div> -->



<!-- <div class="page-header">
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
<!-- <h1><a href="/">Django Girls Blog</a></h1> -->
<!-- <div>
	<img src="../static/img/book.jpeg">
</div> -->


<div class="content-container">
<!-- <div class="row">
<div class="col-md-8"> -->
{% block content %}
{% endblock %}
</div>
</div>
</div>

<aside>
		
		<h3>My To Read List</h3>
		<a href=""><img src="../../static/img/accident.jpg" class="b1"></a>
		<br>
		<a href=""><img src="../../static/img/allegiant.jpg" class="b1"></a>
		<br>
		<a href=""><img src="../../static/img/king.jpg" class="b1"></a>
		<br>
		<a href=""><img src="../../static/img/pi.jpg" class="b1"></a>
		<br>
		<a href=""><img src="../../static/img/thrones.jpg" class="b1"></a>
		<br>
		
</aside>
</div>

</body>
</html>